<h2>Create article</h2><br>
<form action="/create" method="post" id="create">
	Article name:<br>
	<input type="text" name="name"><br>
	<textarea rows="20" cols="90" name="body"></textarea>
	<input type="submit" value="Create">
</form>
<p><a href="/">Cancel</a></p>