body {
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

header {
	height: 100px;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
}

div.main_container {
	background-color: grey;
}

div.page_title {
	text-align: center;
}

div.navbar {
	width: 100%;
	position: relative;
	float: left;
}

div.view_content {
	min-height: 800px;
}