body {
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

header {
	height: 100px;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
}

div.main_container {
	background-color: grey;
}

div.page_title {
	text-align: center;
}

div.navbar {
	width: 100%;
	position: relative;
	float: left;
}

div.view_content {
	min-height: 800px;
}

div#history-controls {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

div#history-controls form {
	display: inline;
	margin-right: 0;
}

div.history-article {
	border-bottom: 1px solid black;
	padding-top: 5px;
}

div.history-article form {
	display: inline;
}

div.history-article-controls {
	padding-left: 5px;
}

p.history-article-body {
	white-space: pre-line;
	background-color: #EEEEEE;
	margin-bottom: 0;
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
}

p.article-body {
	white-space: pre-line;
	background-color: #EEEEEE;
	min-height: 700px;
	padding: 10px 15px 0 15px;
}